body {
  opacity: 0;
  font-family: "Roboto", monospace;
  cursor: url("assets/cursor.png"), auto;
  background-color: #222222;
  font-size: 1.5vw;
  text-align: center;
  color: whitesmoke;
  transition: opacity 1s;
}

.loaded {
  opacity: 1;
}

.nojs {
  opacity: 1;
}

#topnav {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  position: fixed;
  top: -4vw;
  left: 0;
  padding: 0.75vw;
  width: 98.45%; /* super specific to properly center */
  transition: top 0.3s;
  background-color: #111111;
  border-radius: 0 0 1vw 1vw;
  z-index: 1000;
}

.topbuttons {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  width: 75vw;
  margin: 0 auto;
}

model-viewer {
  shape-rendering: optimizeSpeed;
  display: flex;
  background-color: auto;
  width: 10vw;
  height: 10vw;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

model-viewer:hover {
  width: 20vw;
  height: 20vw;
}

.greeting {
  font-size: 2vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.intro .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 7vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.intro {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.intro:hover {
  gap: 20vw;
}

.pfp {
  border-radius: 50%;
  width: 20vw;
  height: auto;
}

.description {
  font-size: 1.5vw;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: lightblue;
}

a:hover {
  text-decoration: underline;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.project {
  width: 50%;
  max-width: 50%;
  height: auto;
  padding: 1vw;
  padding-top: 0;
  margin-top: 4vw;
  opacity: 0.8;
  transition: all 0.5s;
}

.project:hover {
  opacity: 1;
  cursor: pointer;
  max-width: 55%;
  width: 55%;
  font-size: 1.65vw;
  margin-left: calc(11vw / 15);
  margin-right: calc(11vw / 15);
}

.project.clicked {
  max-width: 75%;
  width: 75%;
  font-size: 2.25vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.project img {
  transition: width 0.5s;
  width: 35vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project:hover img {
  width: 38.5vw;
  height: auto;
}
.project.clicked img {
  width: 55vw;
  height: auto;
}

.left.project {
  background-color: #8e8e93;
  align-self: flex-start;
  border-radius: 2vw 2vw 2vw 0;
  position: relative;
  text-align: start;
}

.right.project {
  background-color: #53d769;
  align-self: flex-end;
  border-radius: 2vw 2vw 0 2vw;
  text-align: end;
}

.right.project.blue {
  background-color: #147efb;
}

.card {
  transition: all 0.5s;
  outline: 0.1vw black solid;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 18vw;
  max-height: 18vw;
  margin: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  justify-content: center;
}

.card:hover {
  min-width: 22vw;
  max-width: 22vw;
  min-height: 20vw;
  max-height: 20vw;
  font-size: 1.65vw;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
/*this cards thing could lowkey be doing nothing*/


.repo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#repos {
  display: flex;
  overflow-x: auto;
  width: 100%;
}
