.topnav {
    display: flex;
    justify-content: space-between;
}

.repo {
    outline: 1px black solid;
}

.card {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    justify-content: center;
}