body {
  font-family: "Roboto", monospace;
  cursor: url("assets/cursor.png"), auto;
  background-color: #222222;
  font-size: 1.5vw;
  text-align: center;
  color: whitesmoke;
}


.topnav {
  display: flex;
  justify-content: space-between;
  gap: 9vw;
  width: 100%;
}

.sticky {
  width: 98%; /*oddly necessary */
  position: fixed;
  background-color: lightgray;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1vw;
}

model-viewer {
  shape-rendering: optimizeSpeed;
  display: flex;
  background-color: auto;
  width: 10vw;
  height: 10vw;
  margin: auto;
  transition: all 0.5s ease-in-out;
}

model-viewer:hover {
  width: 20vw;
  height: 20vw;
}

.card {
  outline: 0.1vw black solid;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  min-height: 18vw;
  margin: 2vw;
  justify-content: center;
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.repo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: lightblue;
}

a:hover {
  text-decoration: underline;
}
#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}